html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede o scroll vertical */
}
body {  
  /*background: radial-gradient(circle at center top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(201, 209, 217, 0.8) 100%);*/
  background-color: #0F1014; /* Cor de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  color: #fff;
}
.sideblack{
    background-color: black;
}
.bg-container{
    background-color: #15171c;
}
.bg-drop{
    background-color: #1C1D22;
}
.form-control, .form-select{
    height: 46px;
    background-color: #1b1c22;
    color: #fff;
    border: none;
}

.form-label{
    font-weight: 500;
}

.form-text{
    font-size: 15px;
    font-weight: 500;
}

.new-button{
    height: 48px;
    font-weight: 500;
}
.nav-drop{
    font-size: 14px;
    color: white;
    font-weight: 500;
}
.new-shadow{
    -webkit-box-shadow: 0 6px 12px rgba(120, 130, 157, 0.1);
            box-shadow: 0 6px 12px rgba(120, 130, 157, 0.1);
}
.font-mini{
    font-size: 10px;
    font-weight: 200;
    line-height: 16px;
}
.cursor{
    cursor: pointer;
}
.icon{
    opacity: 0.65;
    height: 18px;
    width: 18px;
}
.btn{
    font-weight: 500;
}
.f-color{
    color: #fff;
}
.sub-title{
    font-size: 13px;
    line-height: 26px;
    display: block;
    font-weight: 500;
}
/* Estilo geral da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
  background-color: #fff; /* Fundo da barra de rolagem */
  border-radius: 24px;
}

/* Estilo do "thumb" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #000; /* Cor preta para o "thumb" */
  border-radius: 6px; /* Borda arredondada */
}

/* Estilo da área onde o thumb se move */
::-webkit-scrollbar-track {
    border-radius: 24px;
  background-color: #fff; /* Fundo branco para o "track" */
}

/* Hover para destacar o thumb */
border-radius: 24px;
::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Cor mais escura no hover */
}
#conteudo{
    padding-bottom:10em;
}
.drag{
    -webkit-app-region:drag;
}
.btn-txt-min{
    font-size: 12px;
    font-weight: 500;
    background-color: orangered;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
}
.text-area{
    height: 120px;
}
.txt-tab-title{
    font-size: 14px;
}
.f-size{
    font-size: 14px;
}
.form-check-input:checked{
color: orangered;
background-color: orangered;
border: none;
}
.form-check-input{
    color: orangered;
}

/* Aplica a cor para todos os placeholders em elementos de formulário */
.form-control::-webkit-input-placeholder {
    color: #888888 !important; /* Define a cor desejada */
    opacity: 1; /* Garante visibilidade total */
}
.form-control::-moz-placeholder {
    color: #888888 !important; /* Define a cor desejada */
    opacity: 1; /* Garante visibilidade total */
}
.form-control:-ms-input-placeholder {
    color: #888888 !important; /* Define a cor desejada */
    opacity: 1; /* Garante visibilidade total */
}
.form-control::-ms-input-placeholder {
    color: #888888 !important; /* Define a cor desejada */
    opacity: 1; /* Garante visibilidade total */
}
.form-control::placeholder {
    color: #888888 !important; /* Define a cor desejada */
    opacity: 1; /* Garante visibilidade total */
}
.item-nota{
    background-color: #0d6dfd17;
    border-radius: 6px;
    border: solid 1px #0d6efd;
}
.item-documento{
    background-color: rgba(255, 68, 0, 0.073);
    border-radius: 6px;
    border: solid 1px orangered;
}
.item-reuniao{
    background-color: #70e0001d;
    border-radius: 6px;
    border: solid 1px #70e000;
}